html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-compatible", content = "ie=edge")
    link(rel="stylesheet",href="/styles/style.css")
    link(href='https://fonts.googleapis.com/css2?family=Courgette&display=swap', rel='stylesheet')
    title Shorten link
body
    nav
        .logo
            h4 Shorten link
        ul.nav-links
            li
                a(href='/') Home
            li
                a(href='/create') Create            
            li
                a(href='/history')  History
        .burger
            .line1
            .line2
            .line3

    script(src="styles/app.js")
block content